@charset "UTF-8";
body {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(201, 201, 201);
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    padding: 10px;
    
}
header > p {
    background-color: rgb(70, 70, 70);
    box-shadow: 4px 4px 4px rgb(63, 63, 63);
    padding: 10px;
}
header > h1 {
    box-shadow: 4px 4px 4px rgb(63, 63, 63);
}
nav {
    background-color: rgb(70, 70, 70);
    box-shadow: 4px 4px 4px 0px rgb(63, 63, 63);
    color: rgb(201, 201, 201);
    padding: 10px;
}
nav > a:hover {
    background-color: rgb(37, 37, 37);
    border-radius: 2px;
    font-weight: bold;
    transition-duration: .6s;
    text-decoration: none;
    }
h1 {
    background-color: rgb(70, 70, 70);
    color: rgb(201, 201, 201);
    margin: auto;
    padding: 8px;
    box-shadow: 4px 4px 4px black;
    text-shadow: 2px 2px 2px black;
}
main {
    background-color: rgb(117, 117, 117);
}

div.video {
    background-color: rgb(117, 117, 117);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {  
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}

h3 {
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.253);
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(201, 201, 201);
}
h2 {
    color: rgb(180, 180, 180);
}
p {
    color: rgb(255, 255, 255);
    background-color: rgb(117, 117, 117);
    margin: -0px -1px;
}
a {
    color: rgb(201, 201, 201);
}
picture {
    min-width: 300px;
    max-width: 800px;
    width: 425;
    height: 315;
}
iframe {
    min-width: 300px;
    max-width: 800px;
    width: 425;
    height: 315;
}
