@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgb(179, 179, 179);
}

header {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
}

header > p {
padding-bottom: 50px;
}

header a, footer a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section.normal {
    background-color: aliceblue;
    color: black;
}

section.imagem {
    background-color: rgb(56, 56, 56);
    color: aliceblue;

}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.267);
    display: inline-block

}



footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}